{{ form_start(form) }}
    <div>
        {{ form_label(form.nom, 'Nom du chantier') }}
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>

    <div>
        {{ form_label(form.adresse, 'Adresse') }}
        {{ form_errors(form.adresse) }}
        {{ form_widget(form.adresse) }}
    </div>

    <div>
        {{ form_label(form.dateDebut, 'Date de début') }}
        {{ form_errors(form.dateDebut) }}
        {{ form_widget(form.dateDebut) }}
    </div>

    <button type="submit">Sauvegarder</button>
{{ form_end(form) }}
