{{ form_start(form) }}
    <div>
        {{ form_label(form.user, 'Utilisateur') }}
        {{ form_errors(form.user) }}
        {{ form_widget(form.user) }}
    </div>

    <div>
        {{ form_label(form.chantier, 'Chantier') }}
        {{ form_errors(form.chantier) }}
        {{ form_widget(form.chantier) }}
    </div>

    <div>
        {{ form_label(form.date, 'Date') }}
        {{ form_errors(form.date) }}
        {{ form_widget(form.date) }}
    </div>

    <div>
        {{ form_label(form.duree, 'Durée') }}
        {{ form_errors(form.duree) }}
        {{ form_widget(form.duree) }}
    </div>

    <button type="submit">
        {% if edit_mode %}
            Modifier
        {% else %}
            Ajouter
        {% endif %}
    </button>
{{ form_end(form) }}
