{% extends 'home/index.html.twig' %}
{% block title %}Supprimer l'utilisateur{% endblock %}
{% block body %}
    <h1>Supprimer l'utilisateur</h1>
    <p>Êtes-vous sûr de vouloir supprimer l'utilisateur "{{ user.nom }} {{ user.prenom }}" ?</p>
    <form action="{{ path('user_delete', {id: user.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?')">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button type="submit">Supprimer</button>
    </form>
    <a href="{{ path('user_index') }}">Retour à la liste</a>
{% endblock %}
